{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
}

.logo {
    width: 100px;
    height: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:black
}

header {
    background-color: #358b0de5;
}

.nav {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    
}

.nav li{
    display: inline-block;
    margin-left: 12px;
    font-size: 16px;
    font-weight: bold;
}

.display {
    width: 400px;
    height: auto;
    border-style: inset;
    border-color:rgb(61, 20, 1)
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 12px;
}
h1 {
    margin-bottom: 0;
    text-align: center;
}
.blurb {
    color: rgba(0, 0, 0, 0.842);
    margin: 8px;
    text-align: center;
}

button {
    background-color: rgb(61, 20, 1);
    border-radius: 2em;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em  0;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    color: whitesmoke;
    width: 150px;
    transition: all 0.2s;
}
button:hover {
    background-color:rgba(61, 20, 1, 0.637)
}

h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 8px;
}

.thumbnail {
    width: 20vw;
    height: auto;
}

.info {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}
.photo {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
}

.caption {
    font-style: italic;
    align-self: center;
    margin-top: 6px;
    
}